.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container form {
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  border-radius: 1em;
  display: flex;
  height: fit-content;
}

form h1 {
  color: rgb(0, 0, 1);
}

form a {
  color: blue;
}